<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PINemHiPath" value="..\..\..\..\ScoresData\PINemHi\PINemHi.exe" />
		<add key="nvramPath" value="..\..\..\..\ScoresData\nvram" />
		<add key="stgPath" value="..\..\..\..\ScoresData\User\VPReg.stg" />
		<add key="firebaseUrl" value="https://ombrello-pinball.firebaseio.com/" />
	</appSettings>
</configuration>